:root{

    --darkblue: #15133D;
    --teal: #91EEDC;
    --pink: #FF5A7D;
    --green: #79CC50;
    --gray:  #CFCFCF;
}

h1{
    font-size: 4rem;
}
h2{
    font-size: 3rem;
}
h3{
    font-size: 2.5rem;
}
body {
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #15133D;
}

.teal{
    color: var(--teal);
}
.pink{
    color:var(--pink);
}
.green{
    color:var(--green);
}
.gray{
    color: rgb(181, 181, 181);
}

.btn img{

    width: 14rem;
}

.inactive{
    display:none !important;
}

.active{
    display:block ;
}

#rulesImg{
    width:40rem;
    height: auto; 
    object-fit: contain;
}

#letsPlayBtn img{
    width:20rem;
}


#rulesBtn img{
    width:20rem;
}
#movesSelectedSection {
    flex-direction: column;
}

#movesSelectedSection img{
    width:20rem;
    height: auto; 
    object-fit: contain;
  
}

#vsImg {
    width:11rem !important;
}

#playAgainBtn img{
    width: 20rem;

}
#startBtn img{
    width: 20rem;
}

.form-check-input {
    width: 1.5rem;
    height: 1.5rem;
    margin: .75rem;

  }